:root {
    --ColorFontBody: #f3f3f3;

    --ColorBackgroundCartao: rgba(0, 0, 0, 0.3);
    --ColorBackgroundAHover: #A59ABC;

    --ColorBorderTopCartao: #A59ABC;
    --ColorBorderLeftCartao: #A59ABC;
    --ColorBorderCartaoMinhasInforImg: #7960ad;

    --ColorMinhasInforCargo: #f3f3f3;

    --ColorAbasSelecionado: #a460ad;
    --ColorInforAbas: #a460ad;
    --ColorCartaoAbasAbaHover: #a460ad;

    --ColorAHover: #fff;

    --fontBody: 'Times New Roman', Times, serif;
}

body{
    font-family: var(--fontBody);
    color: var(--ColorFontBody);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.player {
    position: fixed;
    min-width: 100%;
}

video {
    object-fit: contain;
    overflow: clip;
    opacity: 80%;
}

.cartao{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background-color: var(--ColorBackgroundCartao);
    width: 500px;
    border-top: 1px solid var(--ColorBorderTopCartao);
    border-left: 1px solid var(--ColorBorderLeftCartao);
    border-radius: 10px;
    overflow: hidden;

    position: relative;
}

.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartao .minhas-informacoes img{
    border-radius: 30px;
    border: 2px solid var(--ColorBorderCartaoMinhasInforImg);
    width: 100px;  
}

.cartao .minhas-informacoes img:hover{
    transition: 2s;
    transform: scale(1.1); 
    cursor: pointer;
}

.cartao .minhas-informacoes .nome{
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: var(--ColorMinhasInforCargo)
}

#minhas-redes, #sobre-mim,
#ipi, #ipi2 p {
    font-size: 30px;
}

.cartao .conteudo{
    margin-top: 15px;
}

.cartao .abas{
    display: flex;
}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-radius: 10px 10px 0px 0px;
}

.cartao .abas img{
    width: 30px;
}

.cartao .abas .aba.selecionado{
    background-color: var(--ColorAbasSelecionado);
}

.cartao .informacoes-abas{
    background-color: var(--ColorInforAbas);
}

.cartao .abas .aba:hover{
    background-color: var(--ColorCartaoAbasAbaHover);
}

.informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionado{
    display: block;
}

.informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.informacoes-abas .descricao {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
    padding: 10px;
    
}

.informacoes-abas .redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
    gap: 20px;
    padding: 10px;
}

  
a:hover {
    color: var(--ColorAHover);
    background-color: var(--ColorBackgroundAHover);
    padding: 10px;
    border-radius: 50px;
  }

